force-app/main/default/flows/updateChildRecord.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>addUpdatedOppp</name>
        <label>addUpdatedOppp</label>
        <locationX>938</locationX>
        <locationY>122</locationY>
        <assignmentItems>
            <assignToReference>updatedOpportunityVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopVarOpportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OpportunityLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignNewOpp</name>
        <label>assignNewOpp</label>
        <locationX>736</locationX>
        <locationY>68</locationY>
        <assignmentItems>
            <assignToReference>loopVarOpportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccount.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addUpdatedOppp</targetReference>
        </connector>
    </assignments>
    <interviewLabel>updateChildRecord {!$Flow.CurrentDateTime}</interviewLabel>
    <label>updateChildRecord</label>
    <loops>
        <name>OpportunityLoop</name>
        <label>OpportunityLoop</label>
        <locationX>543</locationX>
        <locationY>96</locationY>
        <assignNextValueToReference>loopVarOpportunity</assignNextValueToReference>
        <collectionReference>getChildRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignNewOpp</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateOpp</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>208</locationX>
        <locationY>78</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getChildRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getChildRecords</name>
        <label>getChildRecords</label>
        <locationX>404</locationX>
        <locationY>98</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OpportunityLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateOpp</name>
        <label>updateOpp</label>
        <locationX>584</locationX>
        <locationY>215</locationY>
        <connector>
            <targetReference>Screen</targetReference>
        </connector>
        <inputReference>updatedOpportunityVar</inputReference>
    </recordUpdates>
    <screens>
        <name>Screen</name>
        <label>Screen</label>
        <locationX>610</locationX>
        <locationY>363</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>success</name>
            <fieldText>&lt;p&gt;Child Records are updated.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>loopVarOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updatedOpportunityVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
